.create-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: 650px) {
        align-items: flex-start;
    }

    .create-form {
        width: 400px;
        height: 550px;
        border-radius: 30px;
        display: grid;
        row-gap: 0px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;

        &.light {
            background-color: #ffffff;

            .form-input {
                h2 {
                    color: black;
                }

                .input-wrapper {
                    background-color: #EBEBEB;

                    h3 {
                        color: black;
                    }

                    .input {
                        color: black;
                        border-bottom: 1px solid rgb(99, 99, 99);

                        &:focus {
                            border-bottom: 1px solid rgb(0, 0, 0);
                        }
                    }


                    .input[type=date]::-webkit-calendar-picker-indicator {
                        background: url('../../../public/images/calendar.png');
                        background-size: contain;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        &.dark {
            background-color: #353535;

            .form-input {
                h2 {
                    color: rgb(255, 255, 255);
                }

                .input-wrapper {
                    background-color: #535353;

                    h3 {
                        color: rgb(255, 255, 255);
                    }

                    .input {
                        color: rgb(255, 255, 255);
                        border-bottom: 1px solid rgb(99, 99, 99);

                        &:focus {
                            border-bottom: 1px solid rgb(255, 255, 255);
                        }
                    }

                    .input[type=date]::-webkit-calendar-picker-indicator {
                        background: url('../../../public/images/calendar-light.png');
                        background-size: contain;
                        width: 30px;
                        height: 30px;
                    }

                }
            }
        }

        @media (max-width: 650px) {
            margin-top: 40px;
        }

        @media (max-width: 500px) {
            margin-top: 50px;
        }

        @media (max-width: 450px) {
            padding: 20px 0px;
        }

        @media (max-width: 420px) {
            width: 350px;
            height: 530px;
        }

        .form-input {
            position: relative;

            h2 {
                font-size: 20px;
                margin: 0;
                margin-bottom: 5px;
                padding-left: 10px;
                font-weight: normal;

                @media (max-width: 420px) {
                    font-size: 18px;
                }
            }

            p {
                color: red;
                position: absolute;
                margin: 0px;
                right: 4%
            }

            .input-wrapper {
                width: 300px;
                height: 70px;
                border-radius: 30px;
                padding: 0px 30px 0px 25px;
                display: flex;
                align-items: center;

                @media (max-width: 420px) {
                    width: 250px;
                    height: 60px;
                }


                h3 {
                    font-size: 15px;
                    margin: 0;
                    font-weight: normal;
                }

                .input {
                    font-size: 20px;
                    background: none;
                    border: none;
                    width: 100%;
                    outline: none;

                    &.with-errors {
                        color: red;
                        border-bottom: 1px solid red;
                    }

                    @media (max-width: 420px) {
                        font-size: 18px;
                    }

                }
            }

            .circle-wrapper {
                display: flex;
                justify-content: space-around;
                align-items: center;


                .importance-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .form-circle {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                    }

                    .green-circle {
                        background-color: #7CE393;
                    }

                    .yellow-circle {
                        background-color: #F3D27B;
                    }

                    .red-circle {
                        background-color: #E88282;
                    }
                }
            }
        }

        .form-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.3s ease-in-out;

            &.light {
                .create-btn {
                    color: black
                }

                .cancel-btn {
                    color: black;
                }
            }

            &.dark {
                .create-btn {
                    color: white
                }

                .cancel-btn {
                    color: white;
                }
            }

            .create-btn {
                outline: none;
                border: none;
                border-radius: 30px;
                padding: 10px 30px;
                font-size: 25px;
                cursor: pointer;
                background-color: rgba(124, 227, 147, 0.75);

                &:disabled {
                    cursor: default;
                    background-color: rgba(124, 227, 147, 0.25);
                }
            }

            .cancel-btn {
                outline: none;
                border: none;
                border-radius: 30px;
                padding: 10px 30px;
                font-size: 25px;
                cursor: pointer;
                background-color: rgba(232, 130, 130, 0.75);
            }
        }
    }
}