.create-playlist-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);


    @media (max-width: 650px) {
        align-items: flex-start;
    }

    .create-playlist-form {
        width: 450px;
        height: 600px;
        border-radius: 30px;
        display: grid;
        row-gap: 0px;
        padding: 20px 0px;
        align-items: center;
        justify-content: center;
        grid-template-rows: 1fr 0.5fr 0.2fr;
        transition: all 0.3s ease-in-out;

        &.light {
            background-color: #ffffff;

            .album-form-input {
                .album-wrapper {
                    border: 2px solid black;
                }

                .generate-btn {
                    background-color: #e1e1e1;
                    color: black
                }

                #upload-lable {
                    background-color: #e1e1e1;
                    color: black
                }
            }

            .playlist-form-input {

                h2 {
                    color: black;
                }

                .playlist-input-wrapper {
                    background-color: #EBEBEB;

                    h3 {
                        color: black;
                    }

                    .playlist-input {
                        color: black;
                        border-bottom: 1px solid rgb(99, 99, 99);

                        &:focus {
                            border-bottom: 1px solid rgb(0, 0, 0);
                        }
                    }
                }
            }
        }

        &.dark {
            background-color: #353535;

            .album-form-input {
                .album-wrapper {
                    border: 2px solid rgb(255, 255, 255);
                }

                .generate-btn {
                    background-color: #535353;
                    color: white;
                }

                #upload-lable {
                    background-color: #535353;
                    color: white;
                }
            }

            .playlist-form-input {

                h2 {
                    color: white;
                }

                .playlist-input-wrapper {
                    background-color: #535353;

                    h3 {
                        color: white;
                    }

                    .playlist-input {
                        color: white;
                        border-bottom: 1px solid rgb(99, 99, 99);

                        &:focus {
                            border-bottom: 1px solid rgb(255, 255, 255);
                        }
                    }
                }
            }
        }

        @media (max-width: 650px) {
            margin-top: 30px;
        }

        @media (max-width: 500px) {
            margin-top: 50px;
        }

        @media (max-width: 450px) {
            padding: 20px 0px;
        }

        @media (max-width: 420px) {
            width: 350px;
            height: 530px;
        }

        .album-form-input {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 50px 50px;
            row-gap: 10px;

            .album-wrapper {
                width: 60%;
                height: 80%;
                align-self: center;
                justify-self: center;
            }

            .generate-btn {
                outline: none;
                border: none;
                border-radius: 30px;
                padding: 10px 20px;
                font-size: 20px;
                cursor: pointer;
            }

            #upload-lable {
                outline: none;
                border: none;
                border-radius: 30px;
                padding: 10px 20px;
                font-size: 25px;
                align-self: center;
                text-align: center;
                cursor: pointer;
            }

            #upload-image {
                display: none;
            }
        }

        .playlist-form-input {
            align-self: center;
            justify-self: center;
            display: flex;
            flex-direction: column;
            position: relative;

            h2 {
                font-size: 20px;
                margin: 0;
                margin-bottom: 5px;
                font-weight: normal;
                align-self: center;

                @media (max-width: 420px) {
                    font-size: 18px;
                }
            }

            p {
                color: red;
                position: absolute;
                margin: 0px;
                bottom: -23px;
                left: 32%;
            }
            h4 {
                color: red;
                position: absolute;
                margin: 0px;
                bottom: -23px;
                left: 10%;
            }

            .playlist-input-wrapper {
                width: 300px;
                height: 70px;
                border-radius: 30px;
                padding: 0px 30px 0px 25px;
                display: flex;
                align-items: center;

                @media (max-width: 420px) {
                    width: 250px;
                    height: 60px;
                }


                h3 {
                    color: black;
                    font-size: 15px;
                    margin: 0;
                    font-weight: normal;
                }

                .playlist-input {
                    font-size: 20px;
                    background: none;
                    border: none;
                    width: 100%;
                    outline: none;

                    &.with-errors {
                        border-bottom: 1px solid red;
                    }

                    @media (max-width: 420px) {
                        font-size: 18px;
                    }

                }

            }
        }

        .playlist-form-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.3s ease-in-out;

            &.light {
                .create-btn {
                    color: black
                }

                .cancel-btn {
                    color: black;
                }
            }

            &.dark {
                .create-btn {
                    color: white
                }

                .cancel-btn {
                    color: white;
                }
            }

            .create-btn {
                outline: none;
                border: none;
                border-radius: 30px;
                padding: 10px 30px;
                font-size: 25px;
                cursor: pointer;
                background-color: rgba(124, 227, 147, 0.75);

                &:disabled {
                    cursor: default;
                    background-color: rgba(124, 227, 147, 0.25);
                }
            }

            .cancel-btn {
                outline: none;
                border: none;
                border-radius: 30px;
                padding: 10px 30px;
                font-size: 25px;
                cursor: pointer;
                background-color: rgba(232, 130, 130, 0.75);


            }
        }
    }
}